html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.jokenor-header {
  padding-bottom: 15px;
}

ol.jokes li {
  font-size: 14pt;
  padding-bottom: 8px;
}

ol.jokes li:nth-child(odd) {
  background: #eee;
}