@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    var jokes = @ViewData["JokesObj"] as IJokes;
    var count = jokes!.Count();

    var current = int.Parse(ViewData["JokeId"]!.ToString() ?? "2");
}

<div class="text-center">
    <h1 class="display-3 jokenor-header">Jokenor809</h1>
    <p><small><em>@current/@count</em></small></p>
    <p class="display-6">
        @jokes.GetJoke(current)
    </p>
</div>